@model AllProductsQueryModel

@{
    ViewData["Title"] = "Продукти";
}

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Category">Категория</label> @*Селектираният елемент да се запише в Category*@
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm">Търсене</label>
            <input class="form-control" asp-for="SearchTerm" placeholder="пчелен мед, прополис...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting">Филтър</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Категория</option>
                    <option value="1">Цена в нарастващ ред</option>
                    <option value="2">Цена в намаляващ ред</option>
                    <option value="3">Грамаж в нарастващ ред</option>
                    <option value="3">Грамаж в намаляващ ред</option>
                    <option value="5">Дата на добавяне</option>
                </select>
            </div>
        </div>
        <input type="submit" class="btn btn-primary d-none">
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProducts / AllProductsQueryModel.ProductsPerPage);
}

<div class="row mb-3">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Products"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Products"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Category - @product.Name (@product.Price - @product.Size)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Name - @product.Price лв. (@product.Size гр.)</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Детайли</a>
                </div>
            </div>
        </div>
    }
</div>
