@model AllShopsQueryModel

@{
    ViewBag.Title = "Магазини";
}

@{
    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalShops / AllShopsQueryModel.ProductsPerPage);
}


<div class="row mb-3">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Shops"
           asp-action="All"
           asp-route-currentPage="@previousPage"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Shops"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)">>></a>
    </div>
</div>

<div class="row">
    @foreach (var shop in Model.Shops)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@shop.ImageUrl" alt="@shop.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@shop.Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">@shop.Address</li>
                    <li class="list-group-item text-center">@shop.Phone</li>
                    <li class="list-group-item text-center">@shop.WorkingHours</li>
                </ul>
                <div class="card-body text-center">
                    @if (User.IsAdmin())
                    {
                        <a asp-controller="Shops" asp-action="Edit" asp-route-id="@shop.Id" class="btn btn-warning">Редактирай</a>
                        <a asp-controller="Shops" asp-action="Delete" asp-route-id="@shop.Id" class="btn btn-danger">Изтрий</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
